*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Oxygen, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
}
a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: bold;
}
a, button {
    cursor: pointer;
}
.section-1 {
    height: 100vh;
    background-color: #1F2937;
}

.navbar {
    height: 100px;
    background-color: #1F2937;
    padding:0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
}

.navbar h1
{
    color: #F9FAF8;
    font-size: 24px;
}
.navbar ul {
    display: flex;
    gap: 20px;
}

.content {
    display: flex;
    justify-content: space-evenly;
    height: 80%;
    gap: 16px;
    align-items: center;
}
.content .about {
    width: 500px;
    padding: 20px;
}
.content .about h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: white;
    line-height: 2.5rem;
    margin-bottom: 20px;
}
.content .about p {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 20px;
}
.content .about button {
    padding: 10px 30px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}

.content .about-image img {
    width: 500px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 5px 10px 50px 20px #050505d5;
}

.section-2 {
    height: 500px;
}

.section-2 h1 {
    font-size: 36px;
    font-weight: extra-Bold;
    text-align: center;
    color: #1F2937;
    padding: 50px 0;
}
.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.card 
{
    display: flex;
    flex-direction: column;
    width: 200px;
    justify-content: center;
    align-items: center;
}
.card-image img{
    width: 200px;
    height: 200px;
    border: 5px #1F2937 solid;
    border-radius: 15px;
    box-shadow: 5px 5px 10px 1px #1F2937;
}

.card p {
    font-size: 18px;
    margin-top: 15px;
    text-align: center;
    color: rgb(32, 31, 31);
}

.section-3 {
    background-color: #E5E7EB;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-3 .container {
    width: 900px;
    padding: 35px;
}

.section-3 .container span {
    font-size: 24px;
    font-style: italic;
    font-family: system-ui, -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    color: #1F2937;
    font-weight: 100;
}

.section-3 .container h3 {
    margin-top: 10px;
    color: #1F2937;
    font-weight: bold;
    text-align: right;
}

.section-4 {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-4 .container {
    width: 900px;
    background-color: #3882F6;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.section-4 .container .s4_content {
    margin: 20px;
    color: #F9FAF8;
}

.section-4 .container button{
    padding: 10px 30px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
    border: 2px #F9FAF8 solid;
    border-radius: 10px;
}

.section-4 .container button:hover {
    background-color: #F9FAF8;
    color: #3882F6;
}

footer {
    height: 60px;
    background-color: #1F2937;
    padding:0 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
}